/******** HomePage ********/
.logBox
{
    padding-top: 14vh;
}
.headerTopic{
    font-weight: bold;
    color: var(--darkGrey);
}

#uploadContainer{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: lightgray;
    border-radius: 3%;
    
}
/* .App {
  
} */

