/******** HomePage ********/
.logBox
{
    padding-top: 14vh;
}
.headerTopic{
    font-weight: bold;
    color: var(--darkGrey);
    font-size: 1.5rem;
    text-transform: uppercase;
}

#uploadContainer{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: lightgray;
    border-radius: 3%;
    
}
#matchBox
{
    background-color: #bcf5bc;
 
}
#unMatchBox
{
    background-color: #f1a6a6;
   
}
/******** OptionPage ********/

/* .App {
  
} */

